NPD_DJANGO_SECRET=''
NPD_DB_USER=''
NPD_DB_PASSWORD=''
NPD_DB_HOST='db'
NPD_DB_NAME=''
NPD_DB_PORT=5432
NPD_DB_ENGINE='django.db.backends.postgresql'
DEBUG=True
DJANGO_ALLOWED_HOSTS=['localhost', '127.0.0.1']
DJANGO_LOGLEVEL='WARNING'
NPD_PROJECT_NAME='[Project Name]'
CACHE_LOCATION = ''