NPD_DJANGO_SECRET='REPLACEME' 
## when running app in container, database on host
# NPD_DB_HOST='host.docker.internal' 
## when running app on host, database in container
# NPD_DB_HOST='localhost' 
## when running app and database in containers
NPD_DB_HOST='db'
NPD_DB_USER=''
NPD_DB_PASSWORD=''
NPD_DB_NAME=''
NPD_DB_PORT=5432
NPD_DB_ENGINE='django.db.backends.postgresql'
DEBUG=True
DJANGO_ALLOWED_HOSTS=['localhost','127.0.0.1','0.0.0.0']
DJANGO_LOGLEVEL='WARNING'
NPD_PROJECT_NAME='[Project Name]'
